<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tossers</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Simple Carrier</string>
			<key>Size</key>
			<real>0.18</real>
			<key>PosY</key>
			<string>-0.06</string>
			<key>PosX</key>
			<real>-0.35</real>
			<key>countFrames</key>
			<integer>0</integer>
			<key>BaseFrameName</key>
			<string>gnow.png</string>
			<key>Head</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Body</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Hands</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Legs</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>Simple Carrier</string>
			<key>Size</key>
			<real>0.18</real>
			<key>PosY</key>
			<string>-0.06</string>
			<key>PosX</key>
			<real>-0.35</real>
			<key>countFrames</key>
			<integer>0</integer>
			<key>BaseFrameName</key>
			<string>gnow.png</string>
			<key>Head</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Body</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Hands</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Legs</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>Simple Carrier</string>
			<key>Size</key>
			<real>0.18</real>
			<key>PosY</key>
			<string>-0.06</string>
			<key>PosX</key>
			<real>0.35</real>
			<key>SpriteFrameName</key>
			<string>gnow.png</string>
			<key>Head</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Body</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Hands</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Legs</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
	<key>Carriers</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Simple Carrier</string>
			<key>Size</key>
			<real>0.18</real>
			<key>PosY</key>
			<string>-0.06</string>
			<key>PosX</key>
			<real>-0.35</real>
			<key>countFrames</key>
			<integer>0</integer>
			<key>BaseFrameName</key>
			<string>gnow.png</string>
			<key>Head</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Body</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Hands</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Legs</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>Simple Carrier</string>
			<key>Size</key>
			<real>0.18</real>
			<key>PosY</key>
			<string>-0.06</string>
			<key>PosX</key>
			<real>-0.35</real>
			<key>countFrames</key>
			<integer>0</integer>
			<key>BaseFrameName</key>
			<string>gnow.png</string>
			<key>Head</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Body</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Hands</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Legs</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>Simple Carrier</string>
			<key>Size</key>
			<real>0.18</real>
			<key>PosY</key>
			<string>-0.06</string>
			<key>PosX</key>
			<real>0.35</real>
			<key>SpriteFrameName</key>
			<string>gnow.png</string>
			<key>Head</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Body</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Hands</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
			<key>Legs</key>
			<dict>
				<key>framesCount</key>
				<integer>0</integer>
				<key>BaseFrameName</key>
				<string></string>
				<key>PosY</key>
				<integer>0</integer>
				<key>PosX</key>
				<integer>0</integer>
				<key>Size</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
