<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Candy</string>
		<key>Size</key>
		<real>0.05</real>
		<key>PosX</key>
		<real>0.1</real>
		<key>PosY</key>
		<real>-0.1</real>
		<key>countFrames</key>
		<integer>0</integer>
		<key>FrameNameBase</key>
		<string>img1.png</string>
	</dict>
</array>
</plist>
